<%- include('partials/header') %>
        <%- include('partials/nav') %>
            <main class="main">
                <table class="table">
                    <thead>
                        <th scope="col">id</th>
                        <th scope="col">ProductImage</th>
                        <th scope="col">Nama Produk</th>
                        <th scope="col">Harga Produk</th>
                        <th scope="col">Kategori</th>
                        <th scope="col">Rating</th>
                        <th scope="col">Brand</th>
                    </thead>
                </table>
                <tbody>
                    <tr>
                        <td>
                            <%= produk.id %>
                        </td>
                        <td style="text-align: center;"><img src="data:image/png;base64,<%=produk[0].imgHERE%>"
                                alt="EMBEDDED IMAGE" width="100px"></td>
                        <td style="max-width: 250px;">
                            <%= produk[0].nama_produk %>
                        </td>
                        <td>$<%= produk[0].harga %>
                        </td>
                        <td>
                            <%= produk[0].category %>
                        </td>
                        <td><i class="fa fa-star" style="font-size: 16px;"></i>
                            <%= produk[0].rating %>
                        </td>
                        <td>
                            <%= produk[0].brand %>
                        </td>
                    </tr>
                </tbody>
            </main>
    <%- include('partials/footer') %>