<%- include('partials/header') %>
<%- include('partials/nav') %>
<main class="main">
    <!-- Pop UP -->
    <div class="pop-up" id="pop-up">
        <div class="popup-background" onclick="hide()"></div>
        <div class="box-pop">
            <img src="images/berhasil.gif" alt="berhasil">
        </div>
    </div>
    <section class="prod-detail">
        <div class="prod-img">
            <img src="data:image/png;base64,<%= produk[0].imgHERE %>" alt="<%= produk[0].nama_produk %>">
            <!-- <div class="prod-variant">
                            <div class="small-img-col">
                                <img src="" class="variant" alt="prod-variant">
                            </div>
                        </div> -->
        </div>

        <div class="prod-info">
            <h6 class="prod-cat"><%= produk[0].category %></h6>
            <h4 class="prod-name"><%= produk[0].nama_produk %></h4>
            <h2 class="prod-price">$<%= produk[0].harga %></h2>
            <button class="me" onclick="show()">Add To Cart</button>
            <!-- <select>
                            <option>Select Colour</option>
                            <option>white</option>
                            <option>red</option>
                        </select> -->
            <h4 class="text-line">Product Details</h4>
            <span class="prod-desc"><%= produk[0].deskripsi %></span>
        </div>
</main>
<%- include('partials/footer') %>